{% extends 'base.html' %}
{% block content %}
<style type="text/css">
    .card {

        margin-top: 15vh;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-11 col-md-9 mx-auto col-lg-5">
            <div class="card">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h3>已經登入了喔!!</h3>
                    <button class="btn btn-primary" onclick="location.assign('/log-out/')">登出</button>
                    {% else %}
                    <h3>註冊</h3>
                    <hr>
                    <form action="/register/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>使用者名稱:</label>
                            <input class="form-control" type="text" name="username">
                        </div>
                        <div class="form-group">
                            <label>高科大信箱:</label>
                            <input class="form-control" type="email" name="email" placeholder="請輸入高科大信箱">
                        </div>
                        <div class="form-group">
                            <label>密碼:</label>
                            <input class="form-control" type="password"" name="password">
                        </div>
                        <div class="form-group">
                            <label>確認密碼:</label>
                            <input class="form-control" type="password"" name="c_password">
                        </div>
                        <div class="d-flex align-items-center mt-3">
                            <input type="submit" class="btn btn-primary">
                            <p class="d-block m-0" style="color: red;">{{wrong}}</p>
                        </div>

                        {% endif %}
                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}